body{

    font-family: 'Special Elite', cursive;
text-align: center;
background-color: pink;

}

.header_div{

background: pink;
color: rgb(132, 0, 255);

}


.header_div p {

font-family: 'roboto' , sans-serif;
color: red;
letter-spacing: 2px;
font-size: 18px;
font-weight: bold;

}

.main_div button {

    font-family: 'roboto' , sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder
    letter-spacing 3px;  

}

.copy_right_footer{

position: fixed;
color: aquamarine;
bottom: 0;
width: 100%;
font-size: 18px;
background-color: aliceblue;
line-height: 3;
text-align: center;
}


  #button_1
{
  border-radius:20px;
  background-color: rgb(132, 187, 235);

}